@import "react-alice-carousel/lib/alice-carousel.css";

.car_img{
    
    border-radius: 18px;
    padding: 0px 100px;
    height: 900px;
    width: 100%;
}
.car_div{
    border-radius: 18px;
    margin-top: 30px;
    position: relative;
  
    height: 900px;
    width: 100%;
}

