.footer{
    width: 100%;
    height: 300px;
   background-color:whitesmoke;
   margin-top: 40px;
   display: flex;
   position: relative;
   
}
.youtube_icon{
    font-size: 45px;
    color: red;
    position: absolute;
    top: 230px;
    left: 90px;
}
.telegram_icon{
    font-size: 35px;
    color: rgb(0, 149, 255);
    position: absolute;
    top: 235px;
    left: 200px;
}
.instagram_icon{
    font-size: 35px;
    color: rgb(255, 0, 136);
    position: absolute;
    top: 235px;
    left: 150px; 
}
.twitter_icon{
    font-size: 35px;
    color: rgb(0, 157, 255);
    position: absolute;
    top: 235px;
    left: 250px;
}